<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">About {{manifest.name}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/cog.png">
      </div>
      <div class="col-md-8">
        <h2>{{manifest.name}} v{{manifest.version}}</h2>
        <span>{{manifest.description}}</span>
      </div>
    </div>

    <div class="row">

      <div class="panel panel-default">
        <div id="options-syntax-highlight-label" class="panel-heading">Authors</div>
        <div class="panel-body">
          <ul data-ng-repeat="author in manifest.authors">
            <li data-ng-bind-html="author | markdown"></li>
          </ul>
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->


      <div class="panel panel-default" data-ng-repeat="group in assets">
        <div id="options-syntax-highlight-label" class="panel-heading">{{group.name}}</div>
        <div class="panel-body">
          <ul data-ng-repeat="asset in group.assets">
            <li><a href="{{asset.url}}">{{asset.name}}</a> {{asset.description}}</li>
          </ul>
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->

      <div class="panel panel-default">
        <div id="options-syntax-highlight-label" class="panel-heading">License</div>
        <div class="panel-body">
          <ul data-ng-repeat="license in manifest.license">
            <li data-ng-bind-html="license | markdown"></li>
          </ul>
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->

    </div><!-- /.row -->
  </div><!-- /.modal-body -->

  {{test}}

  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-primary" data-ng-click="close()">Close</button>
  </div>

</div><!-- /.modal-content -->
